---
name: Test report
about: Describir las pruebas realizadas.
title: ''
labels: test
assignees: ''

---

**Descripción de la prueba**
Descripción corta y concisa de la prueba.

**Variables**
Variables que se usaron para realizar la prueba:
1. Variable1: Descripción corta
2. Variable2: Descripción corta

**Resultados esperados**
Descripción de los resultados que se esperan obtener después de realizar la prueba.

**Resultados obtenidos*
Descripción de los resultados obtenidos después de realizar la prueba.

**Imágenes(Opcional)**
Cualquier imagen de la prueba que considere necesaria anexar.

**Comentarios adicionales**
Cualquier comentario que quiera añadir y no pertenezca a las categorías anteriores.
